body{
    font-family: $type-text;
    font-size: $size-text;
    background-color: $c-bg;
    color: $c-text;
    line-height: 1.5;
}
.section{
    padding: 50px;
    margin: auto;
    max-width: 100%;
}
.section--footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 1060px;
    position: absolute;
}
/*images*/
img{
    max-width: 100%;
 
}
.dwt{
    width: 40px;
}
.ed{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 400px;
    z-index: -1;
    opacity: .8;

}
.equals{
    position: relative;
    top: 250px;
}
/*player*/
.ligne{
    border-bottom: 3px solid $c-text;
}
.play{
    margin-left: 200px;
}
.play--2{
    margin-left: 238px;
}
.play--3{
    margin-left: 93px;
}