.contenair{
  width: 100%;
  max-width: 750px;
  padding: 0;
  margin: auto;
}
a{
  text-decoration: none;
  color: $c-text;
}

/*texte et titre*/
.title {
  color: $c-text;
  font-family: $type-title;    
}
.copy{
  font-family: $type-text;
  position: absolute;
  left: 274px;
}
@media (min-width: 1200px){
  .contenair{
    width: 100%;
    max-width: 1100px;
}

}