/*color*/
$c-bg: linear-gradient(to bottom, #BCC5CE 0%, #434343 100%);
$c-text: #FFDCA5;

/*typo*/
$type-title: 'Courier Prime', monospace;
$type-text: 'Changa', sans-serif;
$size-text: 18px;
$size-tablette: 25px;
$size-desktop: 30px;
$size-title: 50px;